{% extends 'base.html' %}

{% block header %}
<div class="container">
  <h1>{% block title %}{{classname}}{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<p class="lead">Questions:</p>
{% for question in questions %}
  <blockquote class="blockquote" style="text-align:center">
    <p class="mb-0" > {{ question['content'] }}</p>
    <a class="btn btn-outline-info" href="{{ url_for('review.responses', question_id=question['id'], classname=question['classname']) }}" role="button">Responses</a>
  </blockquote>
{% endfor %}



<div class="container" style="text-align:center">
  <a href="{{ url_for('review.create', classname=classname) }}" class="btn btn-outline-info btn-lg" role="button">Create a Question</a>
</div>
{% endblock %}
