{% extends 'base.html' %}
{% block header %}
<div class="container">
  <h1>{% block title %}Ask a Question!{% endblock %}</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Your Question:</label>
      <textarea class="form-control" rows="3" name="question-text">   
      </textarea>
      <label for="exampleFormControlTextarea2">Class:</label>
      <textarea class="form-control" rows="1" name="class">   
      </textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}