{% extends 'base.html' %}
{% block header %}
<div class="container">
  <h1>{% block title %}Ask a Question!{% endblock %}</h1>
</div>
{% endblock %}
{% block content %}
<div class="dropdown" style="text-align:center">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Question Type
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('review.createlongresponse', classname = classname) }}" > Long Response</a>
    <a class="dropdown-item" href="{{ url_for('review.CreateMultipleChoice', classname = classname)}}" > Multiple Choice</a>
  </div>
</div>
{% endblock %}
