{% extends 'review/create.html' %}

{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">

    <label for="exampleFormControlTextarea1">Your Question:</label>

    <textarea class="form-control" rows="3" name="question-text">   
    </textarea>

    
    <p class="lead">Add options:</p>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">A</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="A">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">B</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="B">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">C</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="C">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">D</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="D">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">E</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="E">
    </div>



    <button class="btn btn-outline-info" type="submit">Submit</button>
  </form>
</div>
{% endblock %}