{% extends 'review/create.html' %}

{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">
    <label for="exampleFormControlTextarea1" style = "margin-left:0%"><h4>Your Question:</h4></label>
    <textarea class="form-control" rows="3" name="question-text">
    </textarea>


      <p style="margin-left:0%; margin-top:40px; text-align:left"><h4>Add Options:</h4></p>


    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">A</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="A">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">B</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="B">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">C</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="C">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">D</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="D">
    </div>

    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">E</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Option" name="E">
    </div>



    <button class="btn btn-outline-info" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
