{% extends 'base.html' %}
{% block header %}
<div class="container">
  <h1>{% block title %}Ask a Question!{% endblock %}</h1>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">
      
      <label for="exampleFormControlTextarea1">Type</label>
      <select class="form-control" name = "question_type">
        <option value = "long_response" > Long Response</option>
        <option value = "multiple_choice"> Multiple Choice</option>
      </select>
   
       

    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}