{% extends 'base.html' %}




{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">

      {% block choices %}
        <p class="lead">Options:</p>
        {% for option in options %}
        <div class="custom-control custom-radio">
          <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1"> {{option['label']}}</label>
        </div>
        {% endfor %}
      {% endblock %}

      

    <label for="exampleFormControlTextarea1">Your Question:</label>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio1">A</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">B</label>
      </div>
    </div>



    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}