{% extends 'base.html' %}

{% block header %}
<div class="container">
  <h1>{% block title %}
        <blockquote class="blockquote">
            <p class="mb-0" > {{ question['content']}}</p>
        </blockquote>{% endblock %}
    </h1>
</div>
{% endblock %}

{% block content %}
    <blockquote class="blockquote">
      <h1> Responses</h1>
     </blockquote>
{% for option in options %}
  <blockquote class="blockquote">
    <p class="mb-0" > {{ option['label'] }} {{ option['content'] }} {{ option['numChosen'] }}</p>
  </blockquote>
{% endfor %}
{% endblock %}
