{% extends 'base.html' %}

{% block header %}
<div class="container">
  <h1>{% block title %}
         {{ question}}
        {% endblock %}
    </h1>
</div>
{% endblock %}





{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">

      {% block choices %}
        <p class="lead">Options:</p>
        {% for option in options %}
        <div class="custom-control custom-radio">
          <input type="radio" id=option['label'] name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="customRadio1"> {{option['label']}}  {{option['content']}}</label>
        </div>
        {% endfor %}
      {% endblock %}




    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
{% endblock %}