{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Teacher Account Registration{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div>
    <label>Email address</label>
    <input type="email" class="form control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="username">
  </div>
  <div>
    <label>Password</label>
    <input type="password" class="form control" id="user-password" placeholder="Password" name="password">
    <input type="submit" value="Log In" class="btn btn-outline-info">
  </div>
</form>
{% endblock %}
