{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log into your classroom{% endblock %}</h1>
{% endblock %}

{% block content %}
<form>
  <div>
    <label>Class Name</label>
    <input type="text" class="form control" id="name" placeholder="Enter class name" name="classname">
  </div>
  <div>
    <label>Passcode</label>
    <input type="password" class="form control" id="inputPassword1" placeholder="Password" name="password">
  </div>
  <button type="submit">Submit</button>
</form>
{% endblock %}