{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log into your account{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div>
    <label for="username">Email address</label>
    <input name="username" type="email" id="username" placeholder="Enter email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" required>
  </div>
  <button type="submit" value="Log In">Submit</button>
</form>
{% endblock %}


